{% extends "base.html" %} {% block title%}Note App - sign up {% endblock %}
{%block content%}
<div
  class="row d-flex justify-content-center align-items-center p-2 p-sm-3 p-md-4"
>
  <form
    method="POST"
    id="signup-form"
    class="col-12 col-md-8 col-lg-6 col-xl-5 bg-dark text-white p-4 p-md-5 rounded-4 shadow-custom-green"
  >
    <!-- Signup form: creates a new user with `name`, `email`, and `password` -->
    <h3 class="text-center py-4 text-teal fw-bold">Sign Up</h3>
    <div class="input-group mb-5 rounded-3">
      <span class="input-group-text" id="basic-addon1"
        ><i class="fa-solid fa-user fs-3 text-teal"></i
      ></span>
      <input
        type="text"
        name="name"
        class="form-control px-4 py-3 shadow-none fw-medium fs-5"
        placeholder="Enter Your Name"
        aria-label="name"
        aria-describedby="basic-addon1"
        required
      />
    </div>

    <!-- Email -->
    <div class="input-group mb-5 rounded-3">
      <span class="input-group-text" id="basic-addon2"
        ><i class="fa-solid fa-envelope fs-3 text-teal"></i
      ></span>
      <input
        type="email"
        name="email"
        class="form-control px-4 py-3 shadow-none fw-medium fs-5"
        placeholder="Enter Your Email"
        aria-label="Email"
        aria-describedby="basic-addon2"
        required
      />
    </div>

    <!-- Password -->
    <div class="input-group mb-5">
      <span class="input-group-text" id="basic-addon3"
        ><i class="fa-solid fa-lock fs-3 text-teal"></i>
      </span>
      <input
        type="password"
        name="password"
        class="form-control px-4 py-3 shadow-none fw-medium fs-5"
        placeholder="Enter Your Password "
        aria-label="password"
        aria-describedby="basic-addon3"
        required
      />
    </div>

    <!-- Confirm Password -->
    <div class="input-group mb-3 position-relative">
      <span class="input-group-text" id="basic-addon4"
        ><i class="fa-solid fa-key fs-3 text-teal"></i>
      </span>
      <input
        type="password"
        name="confirm-password"
        class="form-control px-4 py-3 shadow-none fw-medium fs-5"
        placeholder="Confirm Password "
        aria-label="confirm password"
        aria-describedby="basic-addon4"
        required
      />
    </div>

    <!-- Show password checkbox-->
    <div class="input-group mb-4">
      <input
        type="checkbox"
        id="show-password"
        name="show-password"
        class="me-2"
      />
      <label for="show-password" class="text-secondary">Show password</label>
    </div>

    <!-- sign up button-->
    <button
      type="submit"
      class="btn btn-teal w-100 p-3 rounded-3 fw-medium fs-5"
    >
      Sign Up
    </button>

    <p class="text-center my-3">
      Do you have an account?
      <a class="text-decoration-none text-teal" href="/login">Login</a>
    </p>
  </form>
</div>
{%endblock%}
